<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cbaelectronics.turinpadel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TurinPadel"
        tools:targetApi="31">
        <activity
            android:name=".usecases.SearchUser.SearchUserActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.addFixedTurn.AddFixedTurnActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.fixedTurns.FixedTurnActivity"
            android:exported="false"
            android:label="@string/title_activity_fixed_turn"
            android:theme="@style/Theme.TurinPadel" />
        <activity
            android:name=".usecases.onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.makeAdmin.MakeAdminActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.reserve.ReserveActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.comments.CommentsActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.addTurn.AddTurnActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.menu.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".usecases.launch.LaunchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".util.notifications.MessagingService"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primary" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>